#root {
  display: flex;
  justify-content: center;
}

.app {
  background: #209cee;
  padding: 30px;
  height: 100vh;
  width: 60vh;
  overflow-y: scroll;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 40vw;
}

.todo-list > div {
  margin-top: 10px;
}


.todo-list > form {
  margin-top: 5px;
}
